iframe {
    display: block;
    width: 100%
}
#book {
    position: fixed;
    top: 50px;
    left: 400px;
    right: 10px;
    bottom: 10px;
    overflow: auto;
    padding-right: 10px;
}
#toc {
    margin-top: 10px;
    position: fixed;
    overflow: auto;
    left: 10px;
    top: 40px;
    bottom: 10px;
    width: 380px;
    border-bottom-style: none;
    font-family: "Open Sans";
    color: #393f44;
}
#toc a {
    border-bottom-style: none
}
.loadingTopicDiv {
    min-height: 40px
}
#loading {
    width: 100%;
    text-align: center;
}
.loadingContent {
    width: 100%;
    margin-top: 50px;
}
.loadingImage {
    display:block;
    margin:auto;
}

#header {
    position: fixed;
    width:100%;
    top: 0;
    font-family: "Open Sans";
}
#refreshin {
    color: #53565B;
}

.navbar-nav, .navbar-nav > li, .navbar-nav > li > a, .navbar-nav > li > span {
    height: 100%
}

.navbar-nav > li > a {
    border-bottom-style: none;
}
.navbar-nav > li > span {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    line-height: 11px;
}

.navbar-brand {
    line-height: 10px;
}