iframe {
    display: block;
    width: 100%
}

#book {
    position: fixed;
    top: 50px;
    left: 400px;
    right: 10px;
    bottom: 10px;
    overflow: auto;
    padding-right: 10px;
}

#toc {
    position: fixed;
    overflow: auto;
    left: 10px;
    top: 50px;
    bottom: 10px;
    width: 380px;
    border-bottom-style: none;
    font-family: "Open Sans";
    color: #393f44;
}

#toc a {
    border-bottom-style: none
}

.loadingTopicDiv {
    min-height: 40px
}

#loading {
    width: 100%;
    text-align: center;
}

.loadingContent {
    width: 100%;
    margin-top: 50px;
}

.loadingImage {
    display:block;
    margin:auto;
}
