<ng-include src="'headertemplate.html'"></ng-include>

<h1 class="text-center" ng-if="allSpecs === undefined && cachedSpecs === undefined && restError === undefined">
   Loading Initial Content Specification List {{specLoadProgress}}
</h1>
<h2 class="text-center" ng-if="allSpecs === undefined && cachedSpecs === undefined && restError === undefined">
    Please wait while the initial list of content specs is loaded.
</h2>
<h2 class="text-center" ng-if="allSpecs === undefined && cachedSpecs === undefined && restError === undefined">
    This list will be cached once it is loaded, so you won't have to wait next time.
</h2>

<h1 class="text-center" ng-if="allSpecs === undefined && cachedSpecs !== undefined && restError === undefined">
    Refreshing Content Specification List {{specLoadProgress}}
</h1>
<h2 class="text-center" ng-if="allSpecs === undefined && cachedSpecs !== undefined && restError === undefined">
    The list below is being displayed from the cache, and may not be up to date.
</h2>
<h1 class="text-center" ng-if="restError !== undefined">
    {{restError}}
</h1>

<div class="container" >
    <div class="row">
        <div class=".col-md-6 .col-md-offset-3">
            <form>
                <div class="input-group">
                    <span class="input-group-addon" style="min-width: 250px">Product Filter</span>
                    <input type="text" ng-model="productNameFilter" class="form-control" placeholder="Product Name"
                           ng-change="filteredProductAndVersions = (productAndVersions | filter:{product:productNameFilter, version:versionFilter});">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" style="min-width: 250px">Version Filter</span>
                    <input type="text" ng-model="versionFilter" class="form-control" placeholder="Version"
                           ng-change="filteredProductAndVersions = (productAndVersions | filter:{product:productNameFilter, version:versionFilter})">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" style="min-width: 250px">Content Specification ID Filter</span>
                    <input type="text" ng-model="idFilter" class="form-control" placeholder="Spec ID">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" style="min-width: 250px">Book Title Filter</span>
                    <input type="text" ng-model="titleFilter" class="form-control" placeholder="Book Title">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row" ng-init="filteredProductAndVersions = (productAndVersions | filter:{product:productNameFilter, version:versionFilter})">
    <div class="col-md-6">
        <div class="row" ng-repeat="n in range(0, (filteredProductAndVersions.length - 1) / 2)">
            <div class="col-md-12" ng-if="(filteredProductAndVersions[n].specs | filter:{title:titleFilter, id:idFilter}).length !== 0">
                <h1 class="text-center">{{filteredProductAndVersions[n].product}} {{filteredProductAndVersions[n].version}}</h1>
                <div class="row" ng-repeat="spec in filteredProductAndVersions[n].specs | filter:{title:titleFilter, id:idFilter}">
                    <h2 class="text-center"> <a href="{{'#/renderedContentSpec/' + spec.id}}">{{spec.id + ': ' + spec.title}}</a></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row" ng-repeat="n in range((filteredProductAndVersions.length - 1) / 2 + 1, filteredProductAndVersions.length - 1)">
            <div class="col-md-12" ng-if="(filteredProductAndVersions[n].specs | filter:{title:titleFilter, id:idFilter}).length !== 0">
                <h1 class="text-center">{{filteredProductAndVersions[n].product}} {{filteredProductAndVersions[n].version}}</h1>
                <div class="row" ng-repeat="spec in filteredProductAndVersions[n].specs | filter:{title:titleFilter, id:idFilter}">
                    <h2 class="text-center"> <a href="{{'#/renderedContentSpec/' + spec.id}}">{{spec.id + ': ' + spec.title}}</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="text-center" ng-if="(filteredProductAndVersions | filter:{specs.title:titleFilter, specs.id:idFilter}).length === 0">
    No content specifications match the filter.
</h2>

